@import 'tailwindcss';

@theme {
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
}

:root {
  background-color: #0f172a;
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
}
